@import '../../../app/styles/colors.scss';
@import '../../../app/styles/typograph.scss';


@mixin dragon-container {
  display: flex;
  flex-direction: column;
  background: $base-card;
  max-width: 580px;
  width: 100%;
  padding: 1.25rem;
  border-radius: 6px;
  gap: 24px;

  h1 {
    color: $base-title;
    margin-bottom: 0.5rem;
    font-size: $title-title-m;
    font-weight:800;
    margin-bottom: 24px;
  }
}

.create-dragon-container{
  @include dragon-container
}
