$white: #FFF;
$black: #000;
$background: #FAFAFA;
$base-card:#F3F2F2;
$base-input:#EDEDED;
$base-button: '#E6E5E5';
$base-error:#f84747;
$base-error-ligth:#e06060a8;
$green: #8fb243;
$primary: #403328;
$secondary:#F23C13;
$tertiary:#A68B85;
$yellow-light:#F1E9C9;
$yellow-dark: #C47F17;
$yellow: #DBAC2C;
$base-title: #272221;
$base-subtitle: #403937;
$purple-dark: #4B2995;
$purple: #8047F8;
$base-text: '#574F4D';
