@import '../../styles/colors.scss';
@import '../../styles/typograph.scss';

.button-container{
  all:unset;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: $components-button-g;
  text-transform: uppercase;
  transition: 0.4s;
  line-height: 1.3rem;

  color: $white;
  border-radius: 8px;



  cursor: pointer;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.variant-primary{
  padding: 0.75rem 2.8rem;
  background-color: $yellow;
  &:not(:disabled):hover {
    background: $yellow-dark;
  }
}

.variant-secondary{
  border: 1px solid $base-error;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin-left: 0.3rem;
  transition: 0.4s;
  cursor: pointer;
  svg{
    color:$base-error;
  }
  &:hover {
    background: $base-error-ligth;
  }

}

.variant-tertiary{
  background: $purple-dark;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin-left: 0.3rem;
  transition: 0.4s;
  cursor: pointer;

  &:hover {
    background: $purple;
  }
}

.loader-button {
  width: 20px;
  height: 20px;
  border: 2px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
