@import '../../../styles/colors.scss';

.input-content{
  display: flex;
  border: 1.5px solid $base-button;
  background-color: $base-input;
  align-items: center;

  padding: 8px 16px;

  border-radius: 8px;

  &:focus-within {
    border: 1.5px solid $yellow-dark;
  }
}

.error-input{
  border: 1.5px solid $base-error;
}

.input {
  border: 0;
  background: transparent;
  width:100%;

  color: $base-text;

  &:focus{
    outline: 0,
  }

  &::placeholder{
    color: $base-text;
  }
}

.input-error-message {
  color: $base-error;
  font-size: 0.75rem;
}

.input-label {
  display:inline-block;
  color: $base-text;
  margin-bottom: 8px;
}
